%% -*- erlang -*-
{erl_opts, [debug_info]}.
{xref_checks, [undefined_function_calls]}.

{cover_enabled, true}.
{eunit_opts, [verbose]}.

{clean_files, ["*~","*/*~","*/*.xfm","test/*.beam"]}.

{deps, [
        {meck, ".*",
         {git, "git://github.com/eproxus/meck.git", "0.8.2"}},
        {parse_trans, ".*",
         {git, "git://github.com/uwiger/parse_trans.git", "2.8"}},
	{edown, ".*",
         {git, "git://github.com/uwiger/edown.git", "0.5"}}
       ]}.

{edoc_opts, [{doclet, edown_doclet},
             {top_level_readme,
              {"./README.md",
               "http://github.com/uwiger/jobs"}}]}.
