%% -*- erlang -*-
{erl_opts, [debug_info]}.
{xref_checks, [undefined_function_calls]}.

{cover_enabled, true}.
{eunit_opts, [verbose]}.

{clean_files, ["*~","*/*~","*/*.xfm"]}.

{deps, [
        {parse_trans, ".*",
         {git, "git://github.com/esl/parse_trans.git", "HEAD"}},
	{edown, ".*",
	 {git, "git://github.com/esl/edown.git", "HEAD"}}
       ]}.

{edoc_opts, [{doclet, edown_doclet}]}.
